<nav style="display:flex; justify-content: flex-end">
    <ul style="display:flex;
     justify-content: space-around;
     width: 40%;">
        <li><a href="/">Home</a></li>
        <li><a href="/moovies">Liste de film</a></li>
        <li><a href="">Rechercher un film</a></li>
    </ul>
</nav>
